**
!/.gitignore

!/.editorconfig
!/.zshrc
!/.xinitrc
!/.xprofile
!/.tmux.conf
!/.Xresources
!/.dircolors.256dark

!/.config/
!/.config/nvim/
!/.config/nvim/init.vim

!/.config/awesome/
!/.config/awesome/rc.lua

!/.config/fcitx/
!/.config/fcitx/config
!/.config/fcitx/profile
!/.config/fcitx/rime
!/.config/fcitx/rime/default.custom.yaml
