**
!/.gitignore

!/.gitconfig
!/.notags
!/.ctags
!/.pam_environment
!/.editorconfig
!/.clang-format
!/.zshrc
!/.xinitrc
!/.xprofile
!/.tmux.conf
!/.Xresources
!/.Xresources-regolith
!/.dircolors.256dark

!/.config/
!/.config/nvim/
!/.config/nvim/init.vim
!/.config/nvim/ginit.vim

!/.config/awesome/
!/.config/awesome/rc.lua

!/.config/fcitx/
!/.config/fcitx/config
!/.config/fcitx/profile
!/.config/fcitx/rime
!/.config/fcitx/rime/default.custom.yaml

!/.config/regolith/
!/.config/regolith/Xresources
!/.config/regolith/i3
!/.config/regolith/i3/config

!/.config/kitty/
!/.config/kitty/kitty.conf

# macOS
!/.chunkwmrc
!/.skhdrc
!/.gitignore_global
