**
!/.gitignore

!/.gitconfig
!/.notags
!/.ctags
!/.pam_environment
!/.editorconfig
!/.clang-format
!/.zshrc
!/.tmux.conf
!/.Xresources
!/.dircolors.256dark

!/.config/
!/.config/nvim/
!/.config/nvim/init.lua
!/.config/nvim/.lsp_root
!/.config/nvim/lua/
!/.config/nvim/lua/**
!/.config/nvim/lua/user/
!/.config/nvim/lua/user/**

!/.config/kitty/
!/.config/kitty/kitty.conf

# macOS
!/.chunkwmrc
!/.skhdrc
!/.gitignore_global
